<form method="post" action="{{ path('clase_delete', {'id': clase.id}) }}" onsubmit="return confirm('¿Estás seguro de querer eliminar:  {{ clase.getNombreClase}}, con ID: {{ clase.id }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clase.id) }}">
    <button class="btn link link-cancel">Eliminar</button>
</form>
