{% extends 'base.html.twig' %}

{% block title %}EDITAR CLASE{% endblock %}

{% block body %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/editClase.css') }}"> {% endblock %}
    <div class="container">
        
        {{ include('clase/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('clase_index') }}" class="link link-button">Volver a la lista</a>

        {{ include('clase/_delete_form.html.twig') }}
    </div>

    
{% endblock %}
