<form method="post" action="{{ path('noticia_delete', {'id': noticium.id}) }}" onsubmit="return confirm('¿Estás seguro de querer eliminar esta noticia?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ noticium.id) }}">
    <button class="link link-cancel">Eliminar</button>
</form>
