{% extends 'base.html.twig' %}
{% block nav %}
	<nav>
		<ul>
			<li> <a href="usuario/" title="LOGO"> LOGO </a> </li>
			<li> <a href="usuario/" title="INICIO"> INICIO </a> </li>
			<li> <a href="usuario/" title="NOTICIAS"> NOTICIAS </a> </li>
			<li> <a href="usuario/" title="LOCALIZACIÓN"> LOCALIZACIÓN </a> </li>
			<li> <a href="usuario/" title="RESERVAS"> RESERVAS </a> </li>
			<li> <a href="usuario/" title="CONFIGURACIO PERFIL"> CONF_PERF </a> </li>
			<li> <a href="usuario/" title="SALIR"> SALIR </a> </li>			
		</ul>
	</nav>
{% endblock %}