{% extends 'usuario/nav_usuario.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('/css/nav_usuario.css') }}">
{% endblock %}

{% block title %}Polideportivo{% endblock %}

{% block main %}
{#	{% include 'usuario/nav_usuario.html.twig' %}#}
	
	<h2>{% dump(nombreClases) %}ssssssssssssss</h2>
{% endblock %}