<div class="Wrap" id="app">
    <div class="flex">
      <div class="calendar">
        <div class="Cr-Head">
          <div class="Cr-Head_ltMonth" @click="ltMonth">«</div>
          <div class="Cr-Head_currMonth">$¿months[currMonth].slice(0,3)? $¿currYear?</div>
          <div class="Cr-Head_gtMonth" @click="gtMonth">»</div>
        </div>
        <div class="Cr-Week">
          <div class="Cr-Week_day" v-for="day in days">$¿day?</div>
        </div>
        <div class="Cr-Days">
          <!-- Dias del mes anterior -->
          <div class="Cr-Days_blank" v-for="blank in daysOfPrevMonth">
          	<span>$¿blank?</span>
      	  </div>
          <!-- Dias del mes actual -->
          <div class="Cr-Days_day" v-for="i in daysInMonth" :class="{ currDay: i == currDay, clickedDay: i == clickedDay }" @click="setDate(i)">
          	<span>$¿i?</span>	
            <div class="point" v-if="matchDay(i)"></div>
      	  </div>
          <!-- Dias del mes siguiente -->
          <div class="Cr-Days_blank" v-for="blank in qtyDaysNextMonth">
          	<span>$¿blank?</span>
          </div>
        </div>
      </div>
    </div>
    <div id="activities">
      <pre>$¿ output ?</pre>
      <p>Hoy: $¿new Date().toLocaleDateString()?</p>
      <p>Dia seleccionado: <b>$¿output.str?</b></p>
      <p>Dia seleccionado (formato): <b>$¿output.format?</b></p>
    </div>
</div>