.container form, .btn {
    text-transform: uppercase;
}
.container form .btn {
    position: relative;
    margin-top: 10px;
}

#clase{
    box-shadow: 0px 0px 10px gray;
    padding: 1.5em;
    border-radius: 5px;
    /* width: 90em; */
    margin:0 auto;
}