/* Alineacion de el contenedor de la imagen de perfil */
.container > main > section > article > div > figcaption{
 	text-align: center;
 	border:1px;
}
/* Tamaño de la imagen de perfil */
.container > main > section > article > div > figcaption > figure > img{
	width: 100px;
}
/* Lista de opciones configuracion perfil */
.container > main > section > article > div > figcaption + div > ul{
	list-style: none;
	margin-top: 1em;
	padding-left: 10px;
}
/* Opciones de la lista */
.container > main > section > article > div > figcaption + div > ul li{
	margin-bottom: .5em;
}
/* Sin margin top Datos personales */
.container > main > section > article > div + div > div > h4{
	margin-top: 0px;
	margin-bottom: 3px;
}

.container > main > section > article > div + div > div > p > span{
	font-weight: bold;
	border-left: 1px solid silver;
	padding-left: .5em;
}
/* configuracion */
.container > main > section > article > div + div > div > p{
	margin-top: 1em;
}


/* facturacion */
.container > main > section > article > div + div > div > table{
	margin-top: 2em;
}
.container > main > section > article > div + div > div > table tr{
	border-bottom: 1px solid;
}

.container > main > section > article > div + div > div > table tr * + *{
	padding-left: 10em; 	
}

.container > main > section > article > div + div > div > table tr *{
	padding-bottom: 1em;
}

.container > main > section > article > div + div > div > table tr td:first-child,
.container > main > section > article > div + div > div > table tr th:first-child{
	padding-left: 1em;
}

.container > main > section > article > div + div > div > table tr td:last-child{
	padding-right: 1em;
}

.container > main > section > article > div + div > div > table tr:nth-child(even){
	background-color: lightgrey;
}
