:root{
    --separacion: 5px;
    --marron : #240041;
    --azul-claro: #5ca0d3;
    --azul-oscuro: #010059;
    --azul-oscuro-2:#107595;
}
form{

    font-family: 'Popins',sans-serif;
    width: 70%;
    margin:20px auto;
    padding: 10px;
}
form:first-of-type:before{
    content: "EDITA LA CLASE";
    font-family: 'Popins',sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px;
}
form > div:first-of-type{
    margin-top: 20px;
}
form > div#clase > div{
    display: flex;
    flex-direction: column;
}
form div > label{
    margin:var(--separacion);
}
form  div > input, form select{
    margin:var(--separacion);
    padding: 10px;
    border-radius: 2px;
    border:1px solid var(--marron);
    width: auto;
}
form input:focus{
    border:2px solid var(--azul-claro);
}

/*BOTONES DEL FORM*/
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
}
form:first-of-type{
    display: flex;
    flex-direction: column;
}
form:first-of-type button{
    width: 7.5em;
    align-self: center;
}
form:nth-of-type(2){
    /*border:2px solid red;*/
    position: relative;
    width:5em;
    top:-40px;
    padding: 0;
}

.container > a:last-of-type{
    background-color: var(--azul-oscuro);
    margin: 0 auto;
    position:relative;
    top:-30px;
    transition: 200ms;
}
.container > a:last-of-type:hover{
    background-color: var(--azul-oscuro-2);
}