@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
#header{
    margin-top:.5em;
    text-transform: uppercase;
}
#h3{
    text-align: center;
    font-family: 'Racing Sans One',serif;
    text-shadow: -2px 1px lightgray;
    margin:0;
    padding: .3em 0;
}
.navbar ul{
    position: relative;
    top:30px;
}
#cols{
    padding:0 .1em;
}
#cols  .btn{
    background-color: rgb(61, 58, 58);
    color:white;
}
#cols .btn:hover {
    text-decoration: none;
    background-color: rgba(32, 30, 30, 0.726);
    transition: .5s;
 }