.main-admin{text-align: center;}
.main-admin a {
    text-decoration: none;
    color:#f5f6fa;
    -webkit-filter:blur(4px);
    filter: blur(4px);
    transition: .4s;
}
.main-admin a:hover { 
    -webkit-filter:blur(0px);
    filter:blur(0px); 
    color:#f5f6fa;
    text-decoration: none;
}
.main-admin .contenido-admin{
    border:1px solid transparent; 
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(45deg, #0a3d62,#4a69bd) ;
}
.contenido-admin > h4 {
    text-transform: uppercase;
}
/* Usuarios */
.contenido-admin > p:first-of-type{
    text-align: center !important;
    font-size: 3em;
}
.contenido-admin > p {display: none; transition: 1s;}
.contenido-admin:hover > p{
    display: block;
    transition: 2s;
    text-align: left;
    padding: 0 20px;
    font-weight: bolder;
}
/* ICONOS */
.contenido-admin span>i{
    font-size: 4em;
}

/* Tabla datos */
thead > tr > th {
    background-image: linear-gradient(to top, #0a3d62,#4a69bd) ;
}
tbody > tr:hover {
    background-color:rgb(156, 156, 202);
    transition:.5s;
}