@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
 
:root{
    --tamano-img :100px;
    /* --rojo:#ef3f61; */
    --rojo: #eb3b5a;
    --shadow-rojo: #3a3a59;
    --rosa: #ffdee6;
}

header{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: var(--rojo);
    font-size: 18px; 
    box-sizing: border-box;
}
header>nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
}
header> nav a{
    color:#fff;
    text-decoration: none;
    padding: 2.7em 1.5em;
}
nav>ul>li:first-of-type>a{
    padding: 0;
}
nav>ul{
    margin: 0;
    padding: 0;
}
nav>ul>li:nth-of-type(n+6)>a{
    color: black;
}
nav>ul li:nth-child(1) {
    margin-right: auto;
}
nav>ul li:last-of-type {
    margin-left: auto;
}
nav>ul>li:first-of-type{
    width: var(--tamano-img);
    height: var(--tamano-img);
}
nav>ul li > a >img{
    width: 100%;
}
/* header nav>ul>li:last-of-type > a{
    display: flex;
    flex-direction: column;
    text-align: center;
} */


/* ##### ESTILOS ######################### */
header li:nth-of-type(n+2) a{
    margin: 0 2px;
    /* background-color: #494ca2; */
    /* border:1px solid gray; */
    transition: 500ms;
}

header li:nth-of-type(n+2) a:hover{
    box-shadow: 0px -5px 0px 0px inset var(--shadow-rojo);
    background-color: var(--rosa);
    color:black;
}
