article{
    float: left;
    margin:10px 0;
    box-shadow: 0px 0px 15px gray;
    padding: 10px;
}
article > h2 {
    text-transform: uppercase;
    background-color: #10ac84;
    color:white;
    padding: .7em;
}
article >h2 + h3 + p:first-of-type{
    text-decoration: underline;
    color:#10ac84;
}
article img{
    width: 450px;
    height: 250px;
    float: left;
    border:solid 2px #10ac84;
    margin:0 15px 0 0;
}

