:root{
    --p-input: 10px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    content: " ";
    /*background-image: url("https://images.pexels.com/photos/1637451/pexels-photo-1637451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-image: linear-gradient(to top, #92EB75, #A2FFF8);
}
.container{
    /*border:1px solid rgb(27, 165, 165);*/
    box-shadow: 0px 0px 10px white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    box-sizing: border-box;
    margin:50px auto;
    width: 60%;
    background-image: linear-gradient(to bottom , rgb(224, 223, 223), white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > h2{
    text-align: center;
    text-transform: uppercase;
}
#registro:before{
    content: '(*): Campos obligatorios.';
    color:gray;
    margin-bottom: 10px;
}
#registro{
    display: flex;
    flex-direction: column;
    padding: .5em;
}
#registro > div{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    text-transform: uppercase;
}
#registro > div > input{
    padding: var(--p-input);
    margin:9px 0;
    font-size: 1em;
}
#registro > div > select{
    padding: var(--p-input);
    margin:9px 0;
}

/*Clase Ultimo div para los botones*/
form > div:last-of-type{
    display: flex;
    justify-content: center;
}
.errors{
    border-radius: 3px;
    background-color: #E84656;
    color:white;
}
.errors li:first-of-type, .errors li:last-of-type{
    padding: 10px;
}