body{
    background-image: url('../img/form_bg_2.jpg');
    background-size: cover;   
}
.container{text-transform: uppercase; color:white;}
.container h1{
    text-align: center;
    border:solid 3px white;
    border-left: none;
    border-right: none;
    width: 15em;
    margin: 20px auto;
}
.container form {
    font-size: 1.2em;
}

form input[type="submit"], form input[type="submit"] + a{
    margin:10px auto;
    text-transform: uppercase;
    width:10em;
}
/* :( srry */
form input[type="submit"]{
    margin-left: 120px;
}