.pasos-reserva{
    padding-top:50px;
  }
  .circulo{
    border:solid 1px #222f3e;
    border-radius:50%;
    padding:25px;
    background-color:#8395a7;
    color:#fff;
    font-size:1.5em;

  }
  .paso-actual{
    background-color:#6a89cc;
    border-color:#0c2461;
  }

/* Boton de Enviar/Continuar/pagar */
form input[type=submit]{
  width:25.5em !important;
  margin:0 auto;
}
/* SEGUNDO PASO DE RESERVAS */
.col-md-1 > p > span{
  font-weight:bold;
}

/* ICONOS METODO DE PAGO */
.metodo-pago{
  padding:20px 0;
}
.metodo-pago i {
  font-size: 5em;
}
.metodo-pago .col-md-6{
  position: relative;
  top:20px;
  padding:0 30px;
}

/* IMPORTE TOTAL */
.caja-precio{
  border:solid 2px black;
}
.caja-precio h3{
  border-bottom:solid 2px black;
  padding-bottom: .5em;
}
.caja-precio >h3 + p {
  font-size: 10em;
}