{% extends 'base.html.twig' %}

{% block title %}EMPLEADOS{% endblock %}

{% block body %}
    {% block stylesheets %} <link rel="stylesheet" href="{{ asset('/css/list.css') }}"> {% endblock %}
    <header>
        {% include '/admin/nav.html.twig' %}
    </header>

    <div class="container">
        <h2>Lista de empleados</h2>
        <table>
            <thead>
            <tr>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>role</th>
                <th>estado</th>
            </tr>
            </thead>
            <tbody>

                {% for e in empleados %}
                <tr>
                    <td>{{ e.getNombre }}</td>
                    <td>{{ e.getApellido1 }}</td>
                    <td>{{ e.getEmail}}</td>
                    {% if   e.getTipoUsuario  == "AD" %}
                        <td>Administrador</td>
                    {% elseif e.getTipoUsuario == "PR" %}
                        <td>Profesor</td>
                    {% endif %}
                    
                    {% if   e.getUsuarioActivo  == 1 %}
                        <td>Usuario Activo</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}