{% extends 'base.html.twig' %}

{% block title %}EMPLEADOS{% endblock %}

{% block body %}
{#    No podemos usar el CK editor por que agrega las etiquetas HTML#}
{#    y el mailer lo entiende como string, enviando las etiquetas en crudo!#}
    <div style="box-shadow: 0px 0px 10px #000000; margin: 10px; padding: 10px; text-align: center;" >
        <h2>{{ data["Asunto"] }}</h2>
        <p id="asunto" style="color:blue; text-decoration: underline; box-shadow: 0px 0px 10px #000000;">{{ data["Contenido"] }}</p>


    </div>

{% endblock %}
