{% extends 'base.html.twig' %}

{% block title %}Hello PagoController!{% endblock %}

{% block body %}
    {{ form(form_view) }}
    <div id="paypal-container">
        {{ render(controller('App\\Controller\\PaypalController:index')) }}
    </div>
    <script>

    </script>
{% endblock %}
