<footer>
    <div class="literals">
            <div class="col-md-3"><p><span class="span"><i class="fas fa-map-marker-alt"></i></span> C/Toledo 54 28012 - Madrid</p></div>
            <div class="col-md-3"><p><span><i class="far fa-envelope"></i></span> polideportivo@gmail.com</p></div>
            <div class="col-md-3"><p><span><i class="fas fa-phone"></i></span> 9123583077</p></div>
            <div class="col-md-3"><p><span><i class="fas fa-mobile-alt"></i></span> 653445235</p></div>
    </div>
    <div class="icons">
            <div class="col-md-3"><a href=""><i class="fab fa-instagram"></i></a></div>
            <div class="col-md-3"><a href=""><i class="fab fa-linkedin"></i></a></div>
            <div class="col-md-3"><a href=""><i class="fab fa-facebook-square"></i></a></div>
            <div class="col-md-3"><a href=""><i class="fab fa-twitter-square"></i></a></div>
    </div>
</footer>
